@import "@/styles/mixins";

.layout {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--gray-50);

  &>section {
    width: 100%;
    overflow-x: hidden;

    @include -sm() {
      margin-left: 4rem;
    }
  }
}

:global(.dark) .layout {
  background: var(--gray-900);
}
