@import "@/styles/mixins";

.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  padding: 2rem 1.5rem;

  @include lg() {
    padding: 0 1.5rem;
  }
}

.background {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  background: #000;
  opacity: .4;
}

.modal {
  background: var(--gray-800);
  z-index: 1;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0, 0, 0 / 0.1);
  border: 1px solid var(--gray-700);
  padding: 1.5rem;

  @include sm() {
    max-width: 28rem;
    padding: 2rem;
  }
}
