@import "@/styles/mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  height: 6rem;
  background: var(--gray-100);
  border-bottom: 1px solid var(--gray-200);

  @include -sm() {
    padding: 0;
    justify-content: center;
    height: 3rem;
    position: relative;

    &>span {
      cursor: pointer;
      display: flex;
      position: absolute;
      left: 1rem;
    }

    &>div {
      display: none;
    }
  }

  @include sm() {
    &>span {
      display: none;
    }
  }
}

.date_slider {
  @include sm() {
    display: none;
  }
}

:global(.dark) .header {
  background: var(--gray-800);
  border-bottom: 1px solid var(--gray-700);
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2rem;

  @include -sm() {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.page_icon {
  margin-left: 0.75rem;
}
