.loading {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--gray-900);
  opacity: 1;
  animation: opacity 2s ease-in-out infinite;

  & img {
    filter: invert(100%);
    margin-bottom: 0.5rem;
  }

  & h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
