@import "@/styles/mixins";

.section {
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
    margin: auto;
    height: 100vh;
}

.theme_switcher {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--gray-900);
}

:global(.dark) .header {
    color: var(--gray-50)
}

.logo {
    margin-right: 1rem;
}

.card {
    width: 100%;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0, 0, 0 / 0.1);
    padding: 1.5rem;

    &>:not([hidden])~:not([hidden]) {
        margin-top: 1rem;
    }
}

:global(.dark) .card {
    border: 1px solid var(--gray-700);
    background: var(--gray-800);
}

.card__title {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: var(--gray-900);
}

:global(.dark) .card__title {
    color: var(--gray-50);
}

.form {
    &>:not([hidden])~ :not([hidden]) {
        margin-top: 1rem;
    }
}

.button {
    width: 100%;
}

.backlink {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    margin-top: 0.5rem !important;
    color: var(--primary-600);

    &:hover {
        text-decoration: underline;
    }
}

:global(.dark) .backlink {
    color: var(--primary-500);
}

@include sm() {
    .card {
        max-width: 28rem;
        padding: 2rem;
    }
}

@include md() {
    .card {
        &>:not([hidden])~:not([hidden]) {
            margin-top: 1.5rem;
        }
    }

    .card__title {
        font-size: 1.5rem;
    }

    .form {
        &>:not([hidden])~ :not([hidden]) {
            margin-top: 1.5rem;
        }
    }
}

@include lg() {
    .section {
        padding: 0 1.5rem;
    }
}
