.segmented_control {
    background: var(--gray-50);
    border-radius: 0.5rem;
    border: 1px solid var(--gray-300);
    position: relative;
    display: flex;
    align-items: center;
}

.slider {
    background: var(--primary-500);
    height: 100%;
    border-radius: 0.375rem;
    position: absolute;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    border-radius: 0.375rem;
    padding: 0.375rem 0.5rem;
    position: relative;
    color: var(--gray-900);

    &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
}

.button__selected {
    color: var(--gray-50);
}

.separator {
    display: inline-block;
    border-right: 1px solid var(--gray-200);
    height: 100%;
}

.separator__no_right_border {
    border-right-color: transparent;
}
